extends layouthome




mixin message(opp, name)
    if(opp)
        h1.greeting Moikka!
            span= name



    else
        h1.greeting Tervetuloa
            span= name





append links
    li(style="float: right;")
        a(href="./loggout") Kirjaudu Ulos



block content
    .dashboard
        .user
            +message(opp, name)









