form#tarinanluominen(method="post" action="/newstory")
    h2 Luo uusi tarina
    table
        tr
            td Otsikko
            td
                input(type="text" name="otsikko")
        tr
            td Genre
            td
                input(type="text" name="genre")
        tr

        td Tarinan aloitus
            td
                input(type="text" name="teaser")
        tr

            td
            td
                input(type="submit" value="Julkaise")