nav
    ul
        block links
        li
            a(href="./write") Muokattavat Tarinat
        li
            a(href="./read") Valmiit Tarinat
            li
                a(href="./new") Luo Uusi

                li(style="float: right;")
                    a(href="./loggout") Kirjaudu Ulos

