form#kirjautumislomake(method="post" action="./login")
    h2 Kirjaudu sisään
    table
        tr
            td Käyttäjätunnus
            td
                input(type="text" name="username" required='')
        tr
            td Salasana
            td
                input(type="password" name="password" required='')
        tr
            td
            td
                input(type="submit" value="Kirjaudu sisään")