section#esittely
    h1#otsikko Story Domination
    p#teksti
        | Tervetuloa tarinoiden luovaan maailmaan! Jokaisessa meiss&auml;
        | el&auml;&auml; pieni tarinoija. T&auml;&auml;ll&auml; mielikuvitksella ei ole rajoja!
    video#taustavideo(autoplay='' loop='' muted='' poster='http')
        source(src='tausta_vidi.mp4' type='video/mp4')
