form#tarinanluominen(method="post" action="/next")
    h2 Lisää tekstiäsi tarinoihin




    table

        tr

            td
            td
                input(type="submit" value="Näytä seuraava tarina")